.posts{
    display: flex;
    justify-content: center;
}

// .profile, .posts, .posts-detail{
//     background-color: rgb(181, 235, 254);
// }

.posts-detail{
    display: flex;
    justify-content: center;

    .ant-card{
        margin-left: 3%;
    }
}