* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .profile-name{
    margin: 0 15px;
  }
  .button-link {
    display: inline-block;
    font-size: 20px;
    width: 150px;
    margin: 5px;
    background: #0062df;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .link{
    color: #ffffff;
    text-decoration: none;
  }

  .parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(163, 216, 251);
  }
  
  .title {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .searchbar {
    margin-left: 20px;
  }
  .right {
    display: flex;
    justify-content: right;
    text-align: center;
    width: 40%;
    padding-top: 5px;
    text-decoration: none;
    color: rgb(161, 63, 63);
  }
  button{
    &:hover {
        background-color: #004bb5; /* Darker blue on hover */
      }
    
      &:active {
        background-color: #00338d; /* Even darker when clicked */
      }
      .user{
        width: 180px;
      }
    background-color: #0062df;
    border-radius: 20px;
    height: 35px;
  }
  
  .line {
    width: 100%;
    background-color: rgb(188, 188, 188);
    height: 1px;
  }
  