.background {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background-color: #6baed5;
    height: 100vh;
}

.button-link{
    color: white;
}

.button-div{
  display: flex;
  justify-content: center;
}

.login-title{
  color: #787878;
  font-size: large;
}

.login-container, .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .center {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;

    h2{
      margin: 3% 0;
    }
  }

  p {
    color: #787878;
    font-size: 20px;
  }

  .login-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 40% !important;
    height: 55%;

    .login-form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-top: 10px;
        margin-bottom: 35px;
        &:hover {
          background: #004bb5;
        }
      }
    }
  }
  .register-card {
    background: #ffffff;
    margin-top: 5%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 40% !important;
    height: 73%;

    h1{
      margin-bottom: 5%;
    }

    .register-form {
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-top: 10px;
        margin-bottom: 35px;
        &:hover {
          background: #004bb5;
        }
      }
    }
  }
}
  